body {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	padding-top: 0;
	overflow: h
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.nav {
	position: fixed;
	color: white;
	float: right;
	margin-left: 94.5%;
	margin-top: 1%;
}

.center{
	height:;
	
}

#spacer {
	position: relative;
	height:10%;
	width:70%;
}

#top {
	position: relative;
	width:100.4%;
	height: 100%;
	float:center;
	background-image: url(tintin.jpg);
	background-size: 100vw;
	background-repeat: no-repeat;
	color:grey;
	text-align:center;
}

#bottom {
	position: relative;
	width:100%;
	height:20%;
	background-color: white;
	color:grey;
	text-align:center;
}