body {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	padding-top: 0;
	background-image: url(tintin.jpg);
	background-size: 100vw;
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.nav {
	position: fixed;
	color: white;
	float: right;
	margin-left: 94.5%;
	margin-top: 1%;
}

.center{
	height:220%;
}

#spacer {
	position: relative;
	height:10%;
	width:70%;
}

#top {
	position: relative;
	top:10%;
	left:10%;
	width:80%;
	height:20%;
	float:center;
	background-color: white;
	border-radius: 3px;
	color:grey;
	text-align:center;
}

#bottom {
	position: relative;
	left:10%;
	width:80%;
	height:20%;
	float:center;
	background-color: white;
	border-radius: 3px;
	color:grey;
	text-align:center;
}